---
eleventyNavigation:
  key: volume-meter
  title: Volume Meter
  parent: audio-worklet
to_root_dir: ../../../
---

{% extends "../../../_includes/base.njk" %}

{% block content %}

<h1>{{ eleventyNavigation.title }}</h1>
<p>Measures microphone volume with AudioWorkletProcessor.</p>
<p>See
  <a href="https://developer.chrome.com/blog/audio-worklet/" target="_blank">
  Chrome Developers Article: Enter Audio Worklet</a> for more information.</p>

<div class="demo-box">
  <div class="p-3 mb-2 bg-slate-100 w-1/3 rounded text-sm">
    <input id="volume-meter" class="w-full bg-white"
      type="range" min="0" max="100" value="0" step="1" disabled>
  </div>
  <button id="button-start" disabled>START</button>
  {% include "../../../_includes/example-source-code.njk" %}
</div>

<script src="./main.js" type="module"></script>

{% endblock %}