[project]
	description = Web Audio API samples
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Registered Users
	owner = group user/rtoy
[access "refs/for/refs/*"]
	read = group user/rtoy
	push = group user/rtoy
	label-Code-Review = -2..+2 group user/rtoy
	label-Verified = -1..+1 group user/rtoy
	rebase = group user/rtoy
	removeReviewer = group user/rtoy
	submit = group user/rtoy
[access "refs/heads/*"]
	read = group user/rtoy
	create = group user/rtoy
	push = +force group user/rtoy
	pushMerge = group user/rtoy
[access "refs/tags/*"]
	push = group user/rtoy
	push = +force group user/rtoy
