/* Milligram-based Style (version 1.3.0) */

body {
  font-weight: 400;
  color: #37474F;
  letter-spacing: 0;
}

section {
  margin: 32px 0 0 0;
}

section.header {
  
}

section.content {
  margin: 64px 0;
}

section.footer {
  color: #455a64;
  font-size: 13px;
  letter-spacing: 0.015rem;
  text-align: center;
  padding-bottom: 64px;
}

h1, h2, h3, h4 {
  letter-spacing: 0.015rem;
}

a {
  color: #03a9f4;
}

a:focus, a:hover {
  color: #81D4FA;
}

pre {
  border-left: 0.3rem solid #2196f3;
  color: #455a64;
}

.demo-item > a > h4 {
  margin-bottom: 6px;
}

.nav-bar {
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.nav-bar > span.nav-divider {
  margin: 0 6px;
}

#worklet-indicator {
  border-radius: .4rem;
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  height: 3.8rem;
  letter-spacing: .05rem;
  line-height: 3.8rem;
  padding: 0 2.0rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.worklet-status-pending {
  background-color: #B0BEC5;
}

.worklet-status-found {
  background-color: #4caf50;
}

.worklet-status-missing {
  background-color: #DD2C00;
}
