body {
  font-family: "Roboto", sans-serif;
  background-color: #FAFAFA;
  margin: 26px;
}

a, a:active, a:visited {
  text-decoration: none;
  color: #03a9f4;
}

a:hover {
  text-decoration: underline;
}

a.link-small {
  font-size: 12px;
}

ul {
  list-style: none;
  columns: 2;
}

ul > li {
  line-height: 26px;
}

#libaudioworklet-reporter {
  font-size: 14px;
}

div.file-issue {
  float: right;
  font-size: 12px;
}

#libaudioworklet-reporter .error {
  color: #F44336;
}

#libaudioworklet-reporter .warning {
  color: #FF9800;
}

#libaudioworklet-reporter .info {
  color: #455A64;
}
