@import url('https://fonts.googleapis.com/css?family=Roboto:400,600');

html, body {
  color: #102027;
}

button, button:focus, button[disabled]:focus, button[disabled]:hover {
  width: 140px;
  background-color: #0091ea;
  border: 0.1rem solid #0091ea;
}

button:hover {
  background-color: #29b6f6;
  border-color: #29b6f6;
}

button[disabled] {
  opacity: 0.25;
}

p {
  font-size: 1.55rem;
  line-height: 1.5;
}

a, a:active, a:visited {
  color: #0091ea;
}

a:hover {
  color: #64c1ff;
}

.was-render-pending {
  display: none;
}

.was-page-wrap {
  max-width: 100rem;
}

.was-top-bar {
  color: #90a4ae;
  margin-top: 5rem;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  min-height: 2rem;
  line-height: 3.2rem;
}

.was-top-bar ul {
  list-style: none;
  margin: 0;
}

.was-top-bar ul li {
  display: inline;
  margin: 0;
  text-transform: uppercase;
}

.was-top-bar ul li::before {
  content: "|";
  padding: 0.5rem;
}

.was-top-bar ul li:first-child::before {
  content: none;
}

#WorkletIndicator {
  text-transform: uppercase;
  font-size: 13px;
  width: 170px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 20px;
}

.was-indicator-found {
  color: #4caf50;
  border: 0.1rem solid #4caf50;
  padding: 0.5rem;
}

.was-indicator-missing {
  color: #dd2c00;
  border: 0.1rem solid #dd2c00;
  padding: 0.5rem;
}

.was-header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.was-header h1 {
  font-size: 4.4rem;
  margin-bottom: 0;
}

.was-list-view h2 {
  font-size: 3.2rem;
  letter-spacing: 0.02rem;
}

.was-list-view h4 {
  font-size: 2rem;
  letter-spacing: 0.02rem;
}

.was-list-title {
  margin: 3rem 0 2rem;
}

.was-list-entry {
  margin-bottom: 1.75rem;
}

.was-list-entry-title {
  font-size: 2.0rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
  margin-bottom: 0.4rem;
}

.was-list-entry-description {
  font-size: 1.6rem;
  line-height: 1.6;
}

.was-demo-area {
  padding: 1.25em 0.75em;
  border-radius: 0.25em;
  margin: 1em 0;
  border: 1px solid #c1d5e0;
  position: relative;
}

.was-demo-area-label {
  position: absolute;
  top: -12px;
  font-size: 14px;
  color: #90a4ae;
  background: #FFF;
  width: 60px;
  line-height: 20px;
  text-align: center;
}

.was-demo-area-source {
  font-size: 12px;
  text-align: right;
  position: absolute;
  right: 8px;
  bottom: 4px;
}

.was-logger-container {
  font-family: monospace;
  font-size: 12px;
  margin: 10px 0;
}

.was-footer {
  font-size: 14px;
  margin-top: 6rem;
  margin-bottom: 4rem;
  text-align: center;
  color: #62727b;
}

.was-footer ul li {
  display: inline;
  margin-right: 1em;
}

.was-footer ul li::before {
  content: "\2022  ";
}
