.decks {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1em;
}

.deck {
}

.deck, .center {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.dials {
  display: flex;
  column-gap: 1em;
  justify-content: center;
}

.dial {
  display: flex;
  flex-direction: column;
  row-gap: .5em;
  align-items: center;
}

.crossfader {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.placeholder {
  width: 75px;
  height: 75px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  padding: .2em;
}

.disabled, .viz {
  pointer-events: none;
}

.paused .hide-paused,
.playing .hide-playing {
  display: none;
}

.button {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 5px;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  pointer-events: none;
}
