---
eleventyNavigation:
  key: shim-spn-demo
  title: ScriptProcessor Recording App
  parent: audio-worklet
to_root_dir: ../../../
---

{% extends "../../../_includes/base.njk" %}

{% block content %}

<style>
  canvas {
    display: block;
    height: 80px;
    border: 1px solid rgb(156 163 175 / var(--tw-border-opacity));
    border-radius: 6px;

    margin: 1em 0;
    width: 100%;
  }
</style>

<h1>ScriptProcessorNode Audio Recorder</h1>
<p>Demonstrates a simple recording app using ScriptProcessorNode.
  The maximum recording time is 5 minutes. After reaching the maximum
  recording time, the recording will be stopped automatically and a
  download link for the `.wav` file will be prepared. Due to the file
  size and recording length, it may take a few moments to prepare the
  download link and preview the recording. To restart the recording,
  please click the Refresh button.</p>

<div class="demo-box">
  <div id="recording">
    <div>
      <p>Length: <span id="data-len">0</span>sec</p>
      <button disabled id="record">
        Start Recording
      </button>
      <button disabled id="stop">
        Stop Recording
      </button>
      <a href="" id="download-link">
        <button disabled id="download-button">Download File</button>
      </a>
    </div>

    <canvas id="recording-canvas"></canvas>

    <div>
      <audio id="player" class="w-full" controls></audio>
    </div>
  </div>
</div>

<script type="module" src="app.js"></script>

{% endblock %}
