/* main.css */

/*	---------------------------------------------------------------------------
 *	:: Type
 *
 *  - Fonts
 *	- Base
 *	- Links
 *	-------------------------------------------------------------------------*/

.notready h6 {
	background: red;
}

div.link {
	font-style: italic;
	color: lightgrey;
	margin-left: 780px;
	margin-top: 5px;
}

#mobile { display: none; margin-left: 1em; color: lightgrey;}

div.link a {
	color: white;
	font: inherit;
	text-decoration: underline;
}

/* Fonts */
@font-face {
    font-family: 'ProximaNovaRgRegular';
    src: url('../fonts/proxima_nova_reg-webfont.eot');
    src: url('../fonts/proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_reg-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_reg-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_reg-webfont.svg#ProximaNovaRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Base */
html,
button,
input,
select,
textarea {
	font-family: 'ProximaNovaRgRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #4c4c4c;
}
body {
	font-size: 1em;
	line-height: 1.4;
}

/* Links */
a,
a:visited {
	color: #4c4c4c;
	font-size: .6875em; /* 11 / 16 */
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: none;
}


/*	---------------------------------------------------------------------------
 *	:: Raw elements
 *	-------------------------------------------------------------------------*/
body {
	background: url('../img/body-bkg.gif');
}


/*	---------------------------------------------------------------------------
 *	:: Main
 *
 *	- Header
 *	-------------------------------------------------------------------------*/
#main {
	position: relative;
	z-index: 1;
}

/* Header */
#header {
	margin: 0;
	padding: 1em 0 0 1em;	
}

#footer { margin: 0; padding: 0;}

/*	---------------------------------------------------------------------------
 *	:: Modules
 *
 *  - Controls
 *  - Dropdown
 *  - Dropdown arrow
 *  - Modules
 *	-------------------------------------------------------------------------*/
#modules {
	display: inline;
	float: left;
	margin: 0 0 0 18px;
	padding: 20px 0 0;
	width: 200px;
}

/* Module */
.module {
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display: inline-block;
	position: relative;
}
.module .content {
	background: #fff;
	border-radius: 5px;
	min-width: 10em;
	overflow: hidden;
	padding: 1.25em;
	position: relative;
}
.module.has-footer .content {
	border-bottom: 1px solid #dbdbdb;
	border-radius: 5px 5px 0 0;
}
.module h6 {
	font-size: 1.375em;
	font-weight: normal;
	margin: 0 0 .2em;
	text-align: center;
	text-transform: uppercase;
}
.module.audio-buffer-source .ico-play,
.module.audio-buffer-source .ico-stop {
	display: none;
}
.module.audio-buffer-source.play .ico-play {
	display: block;
}
.module.audio-buffer-source.stop .ico-stop {
	display: block;
}

/* Module footer */
.module footer {
	background-color: #fff;
	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(219, 219, 219));
	background-image: linear-gradient(top, rgb(255, 255, 255), rgb(219, 219, 219));
	border-radius: 0 0 5px 5px;
	overflow: hidden;
	padding: 0;	
}
.module footer a {
	display: inline;
	float: left;
	padding: .75em 0;
	text-align: center;
	text-transform: uppercase;
	width: 100px;
}
.module footer a:hover,
.module footer a.active {
	background: #d4d4d4;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.2);
}
.module footer a.left {
	border-right: 1px solid #dbdbdb;
	width: 99px;
}
.module footer a.top {
	border-bottom: 1px solid #dbdbdb;
}

/* Control group */
.control-group {
	margin: 0 0 1em;
}
.control-group.last {
	margin: 0;
}

/* Slider */
.slider-info {
	font-size: .625em; /* 10 / 16 */
	margin-bottom: 0 0 1em;
	overflow: hidden;
	padding-bottom: .4em;
	position: relative;
}
.slider-info .label {
	display: inline;
	float: left;
	text-transform: uppercase;
	width: 49%;
}
.slider-info .value {
	display: inline;
	float: right;
	font-weight: bold;
	text-align: right;
	text-transform: uppercase;
	width: 49%;
}
.module .slider-info:last-child {
	margin-bottom: 0;
}

.ui-slider {
	background: url('../img/slider-bkg.gif') 0 0 repeat-x;
	border: 0 none;
	color: #fff;
	height: 11px;
	position: relative;
	text-align: left;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #cccccc;
	background: #f6f6f6;
	font-weight: bold;
	color: #1c94c4;
}
.ui-slider .ui-slider-handle {
	background: url('../img/slider-handle.png') 0 1px no-repeat;
	border: 0 none;
	cursor: default;
	height: 18px;
	margin-left: -.6em;
	position: absolute;
	top: -.3em;
	width: 16px;
	z-index: 2;
}
.ui-slider .ui-slider-range {
	background-position: 0 0;
	border: 0;
	display: block;
	font-size: .7em;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
}
.ui-slider .ui-slider-range-min {
	left: 0;
}
.ui-slider .ui-slider-range-max {
	right: 0;
}

/* Preview link */
.preview-link {
	color: #c2c2c2;
	display: block;
	padding: 2em 0 0;
	text-align: center;	
	text-transform: uppercase;
}
.preview-link img {
	display: inline-block;
	width: 9px;
	height: 11px;
	line-height: 11px;
	margin-right: 3px;
	vertical-align: text-top;
}

/* Module close */
.module .preview {
	height: 11px;
	position: absolute;
	right: 8px;
	top: 8px;
	width: 11px;
}
.module .preview:hover {
	opacity: .8
}


/* Specific modules */
.module.modulator {
	margin-bottom: 1.875em;
}

/*	---------------------------------------------------------------------------
 *	:: Connection
 *	-------------------------------------------------------------------------*/
#connection {
	display: inline;
	float: left;
	padding-top: 87px;
	width: 152px;
}
#play {
	background: url('../img/play.png') 0 0 no-repeat;
	display: block;
	height: 299px;
	text-indent: -999em;
	width: 152px;
}
#play:hover {
	background-position: -152px 0;
}

#record {
    width: 64px;
    height: 64px;
    margin: 20px auto 10px;
    display: block;
}

#record.recording {
	abackground: red;
	background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,transparent 75%,transparent 100%,transparent 100%); 
	background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%,transparent 75%,transparent 100%,transparent 100%); 
	background: radial-gradient(center, ellipse cover, #ff0000 0%,transparent 75%,transparent 100%,transparent 100%); 
}

#recfile {
color: lightblue;
display: block;
text-align: center;
}

/*	---------------------------------------------------------------------------
 *	:: Results
 *	-------------------------------------------------------------------------*/
#results {
	display: inline;
	float: left;
	width: 590px;
	position: relative;
	margin-top:15px;
}
#results h2 {
	color: #fff;
	font-size: 1.375em;
	font-weight: normal;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	right: 10px;
}
#result-top,
#result-middle {
	margin: 0 0 1.875em;
}
#result-top,
#result-middle,
#result-bottom {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-image: url('../img/analyser-bg.png');
	border-radius: 8px;
	overflow: hidden;
}

#result-top canvas,
#result-middle canvas,
#result-bottom canvas {
	width:582px; margin-left: 4px; margin-top: 4px;
	margin-bottom: -2px;
} 

#modulator.droptarget, #carrier.droptarget { outline: 1px solid red; opacity: 0.5;}

/*	---------------------------------------------------------------------------
 *	:: Global classes and styles
 *
 *	- Clearfix
 *	-------------------------------------------------------------------------*/

/* Clearfix */
.container:before, .container:after { content: ""; display: table; }
.container:after { clear: both; }
.container { *zoom: 1; }
