---
eleventyNavigation:
  key: audioworklet-sharedarraybuffer-and-worker
  title: AudioWorklet, SharedArrayBuffer, and Worker
  parent: audio-worklet
to_root_dir: ../../../
---

{% extends to_root_dir + "_includes/base.njk" %}

{% block content %}

<script src="./coi-serviceworker.js"></script>

<h1>{{ eleventyNavigation.title }}</h1>
<p>This example demonstrates how to take advantage of Worker thread and
  SharedArrayBuffer in conjunction with AudioWorklet. This pattern is useful
  when bringing legacy audio application written in C/C++ into the web
  platform.</p>
<p>See
  <a href="https://developer.chrome.com/blog/audio-worklet-design-pattern/"
    target="_blank">Chrome Developers Article: Audio Worklet Design Pattern</a>
  for more details.</p>

<div class="demo-box">
  <button id="button-start" disabled>START</button>
  {% include to_root_dir + "_includes/example-source-code.njk" %}
</div>

<script src="./main.js" type="module"></script>

{% endblock %}
