:root {
  --global-font-size: 15px; /* The Base font size */
  --global-line-height: 1.4em; /* The baseline height. Modify this to achieve the best readability. */
  --global-space: 10px; /* A global spacer used to consistently space things */
  --font-stack: Menlo, Monaco, Courier New, monospace, serif; /* The fonts for the website. Use @font-face or any other font provider to include your custom fonts. */
  --mono-font-stack: Menlo, Monaco, Courier New, monospace, serif; /* Same as above but for code. */
  --background-color: #222225; /* The page background color */
  --font-color: #e8e9ed; /* The base font color for text, headlines, blockquotes, lists, etc. */
  --invert-font-color: #222225; /* Sometimes text appears on a colored background. Adjust this color to improve readability. */
  --primary-color: #62c4ff; /* The primary color is used for links and buttons. */
  --secondary-color: #a3abba; /* The secondary color is more subtle than the primary color. It's used for code highlighting and image captions. */
  --error-color: #ff3c74; /* Used for error alerts and form validation. */
  --progress-bar-background: #3f3f44; /* The background color of progress bars. */
  --progress-bar-fill: #62c4ff; /* The fill color, indicating the progress in progress bars. */
  --code-bg-color: #3f3f44; /* The background color of <code> elements. */
  --block-background-color: #3f3f44; /* The background color of <pre> elements. Also applies to <code> elements inside a <pre>. */
}

body {
  margin: 1vh 10vw;
}

button[disabled], button[disabled]:hover {
  background: var(--secondary-color);
  cursor: not-allowed;
}

header {
  align-items: center;
  display: grid;
  grid-template-columns: 9fr auto 1fr;
}

p {
  margin: 0;
  padding-right: 1rem;
}

pre {
  font-size: 8pt;
  max-height: 40vh;
  overflow: auto;
}

td {
  vertical-align: middle !important;
}

#passed {
  color: lightgreen;
}
