{% extends "./_includes/base.njk" %}

{% block content %}
<h1>Web Audio Samples</h1>

<p>A collection of projects, examples and resources for Web Audio API. Curated 
  by Chrome Web Audio team.</p>
{% endblock %}
