---
eleventyNavigation:
  key: worklet-recorder
  title: Audio Worklet Recording App
  parent: audio-worklet
to_root_dir: ../../../
---

{% extends "../../../_includes/base.njk" %}

{% block content %}

<style>
  .recording-display {
    display: flex;
    align-items: center;
  }

  canvas {
    flex: 1 95%;
    height: 200px;
    border: 1px solid rgb(156 163 175 / var(--tw-border-opacity));
    border-radius: 6px;
    margin: 1em 0;
  }

  .vu-meter {
    flex: 1 7px;
    height: 200px;
    background-color: #000;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    position: relative;
    left: 5px;
  }

  .meter {
    width: 100%;
    background-color: #f00;
    transition: height 0.2s;
  }

  .marks {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .mark {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    opacity: 0.3;
  }

  .mark:nth-child(1) {
    top: 20%;
  }

  .mark:nth-child(2) {
    top: 40%;
  }

  .mark:nth-child(3) {
    top: 60%;
  }

  .mark:nth-child(4) {
    top: 80%;
  }
</style>

<h1>AudioWorklet Recorder</h1>
<p>This is a simple recording app that uses the AudioWorklet API.
  The maximum recording time is 5 minutes. After reaching the maximum
  recording time, the recording will be stopped automatically and a
  download link for the `.wav` file will be prepared. Due to the file
  size and recording length, it may take a few moments to prepare the
  download link and preview the recording. To restart the recording,
  please click the Refresh button.</p>

<div class="demo-box">
  <div id="recording">
    <div>
      <p>Length: <span id="data-len">0</span>sec</p>
      <button id="record">
        <span id="record-text">Start</span> Recording
      </button>
      <button disabled id="stop">
        Stop Recording
      </button>
      <a id="download-link">
        <button disabled id="download-button">Download File</button>
      </a>
    </div>

    <div class="recording-display">
      <canvas id="recording-canvas"></canvas>
      <div class="vu-meter">
        <div class="meter"></div>
        <div class="marks">
          <div class="mark"></div>
          <div class="mark"></div>
          <div class="mark"></div>
          <div class="mark"></div>
        </div>
      </div>
    </div>

    <div>
      <audio id="player" class="w-full" controls></audio>
    </div>
  </div>
</div>

<script type="module" src="app.js"></script>

{% endblock %}
