---
eleventyNavigation:
  key: hello-audio-worklet
  title: Hello Audio Worklet!
  parent: audio-worklet
to_root_dir: ../../../
---

{% extends "../../../_includes/base.njk" %}

{% block content %}

<h1>{{ eleventyNavigation.title }}</h1>
<p>A simple AudioWorkletNode that bypasses the incoming audio stream to its
  output. The sound source a sine oscillator at 440Hz.</p>
<p>See
  <a href="https://developer.chrome.com/blog/audio-worklet/" target="_blank">
  Chrome Developers Article: Enter Audio Worklet</a> for more information.</p>

<div class="demo-box">
  <button id="button-start" disabled>START</button>
  {% include "../../../_includes/example-source-code.njk" %}
</div>

<script src="./main.js" type="module"></script>

{% endblock %}